.next-page img, .prev-page img {
    width: 20px;
}

.book-stories-section span.nav-subtitle {
    background: 0 0;
    color: #767676;
    display: block;
    font-size: 13px !important;
    letter-spacing: .1818em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.next-page a, .prev-page a {
    color: #000;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    border: 2px solid transparent;
}
div.next-page {
    float: right;
}
.next-page, .prev-page {
    Display: inline-block;
    padding-bottom: 19px;
}